<!-- Project name: Code Blue
     Description: This project assists the homeless during cold weather
     Filename: home.html.erb 
     Description: HTML for landing page
     Last modified on: 24 Feb 2020 -->
<h1>Welcome to Code Blue. </h1>
