<!-- Project name: Code Blue
     Description: This project assists the homeless during cold weather
     Filename: home.html.erb 
     Description: HTML for landing page
     Last modified on: 3 May 2020 -->
<style>
     body {
          font-family: sans-serif;
          color: black;
     }

     #navbar {
          margin: 20px;
          display: flex;
          align-items: center;
          justify: center;
          color: black;
     }

     #navbar a:visited {
         background-color: white;
         color: black;
     }

     #navbar a:hover {
         background-color: white;
         color: black;
     }

     #navbar h1 { 
          font-size: 2em;
          margin: 0 2em 0 0;
     }

     #navbar a {
          text-decoration: none;
          margin: 0 1em 0 1em
     }

     img {
          height: 500px; 
          display: block; 
          margin: 0 auto;
     }

     p {
          font-size: 1.5em;
          text-align: center;
     }
</style>
<body>
     <div id="navbar">
          <a href="/"><h1>Code Blue</h1></a>
          <%= link_to "Create Report", "reports/new"%>
          <%= link_to "Philadelphia OHS", 
          "http://philadelphiaofficeofhomelessservices.org/services/weather-code-blue/",
               :target => "blank"%>
          <%= link_to "Municipal View", ""%>
     </div>
     <img src="/assets/city_hall.jpg">
     <p>
          Hello! This website allows the public to report locations of the homeless<br/>
          in cold weather so that they can receive shelter from the elements. <br/>
          Not yet affiliated with Philadelphia Office of Homeless Services.
     </p>
     <p id="notice"><%= notice %></p> <!-- message for successful submission -->
</body>